<form class="createAccount" id='createAccount'>
  <h5>Create Account</h5>
  <br>
  <div class="row fieldRow">
    <div class="col-sm-6">
      <label for="fname">First Name<span>*</span></label>
      <input [(ngModel)]='emp.firstName' maxlength=100 type="text" class="form-control" id='firstname'
        placeholder="First Name" name="firstname" required>
        <div *ngIf='emp.firstName.length<3'>Minimum 3 characters required</div>

    </div>

    <div class="col-sm-6">
      <label for="lname">Last Name<span>*</span></label>
      <input [(ngModel)]='emp.lastName' class="form-control" id='lname' placeholder="Last Name" name="lname">

    </div>
  </div>
  <div class="row fieldRow">
    <div class="col-sm-6">
      <label for="address">Address<span>*</span></label>
      <input [(ngModel)]='emp.address.houseNumber' maxlength=100 type="text" class="form-control" id='name'
        placeholder="Address" name="name" required>
    </div>

    <div class="col-sm-6">
      <label for="city">City<span>*</span></label>
      <input [(ngModel)]='emp.address.city' class="form-control" placeholder="City" name="City">

    </div>
  </div>

  <div class="row fieldRow">
    <div class="col-sm-6">
      <label for="address">State<span>*</span></label>
      <input [(ngModel)]='emp.address.state' maxlength=100 type="text" class="form-control" placeholder="State"
        name="name" required>
    </div>

    <div class="col-sm-6">
      <label for="pincode">Pin Code <span>*</span> </label>
      <input [(ngModel)]='emp.address.pinCode' class="form-control" placeholder="Pincode" name="pincode">
      <div *ngIf=' emp.address.pinCode.length!=6' class="alert alert-danger"> Invalid Pincode (should be 6 digit)</div>
    </div>
  </div>
  <div class="row fieldRow">
    <div class="col-sm-6">
      <label for="address">Email<span>*</span></label>
      <input type="text" class="form-control" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" id="email" name="email"
        [(ngModel)]='emp.email' placeholder="Email address" #emailref="ngModel">
      <div *ngIf="emailref.errors &&(emailref.touched || emailref.dirty)" class="alert alert-danger">
        <div [hidden]="!emailref.errors?.pattern">
          Invalid Email address
        </div>
      </div>
    </div>


    <div class="col-sm-6">
      <label for="phoneNumber">Phone Number<span>*</span></label>
      <input [(ngModel)]='emp.mobileNumber' class="form-control" placeholder="+91" name="PhoneNumber">
<div *ngIf=' emp.mobileNumber.length!=10' class="alert alert-danger"> Invalid Mobile Number(should be 10 digit)</div>

    </div>
  </div>
  <div class="row fieldRow">
    <div class="col-sm-6">
      <label for="balance">Account Balance <span>*</span> </label>
      <input [(ngModel)]='emp.balance' class="form-control" id='balance' placeholder="Balance"
        name="Balance">
    </div>
    <div class="col-sm-6">
      <label for="accountNumber">Account Number <span>*</span> </label>
      <input [(ngModel)]='emp.accountNumber' class="form-control" placeholder="Account Number"
        name="accountNumber">
        <div *ngIf=' emp.accountNumber.length!=7' class="alert alert-danger"> Invalid Account Number(should be 7 digit)</div>

    </div>
  </div>
  <div class="row fieldRow">
    <div class="col-sm-6">
      <label for="status">Status</label>
      <select [(ngModel)]='nrSelect' class="form-control" id='status' name="status">
        <option value ="ACTIVE"  >ACTIVE</option>
        <option value="INACTIVE">INACTIIVE</option>
        <option value="CLOSED">CLOSED</option>
      </select>
    </div>


    <div class="col-sm-6">
      <label for="type">Type</label>
      <select [(ngModel)]='emp.type' name="type" class="form-control" id='type'>
        <option value ="SAVINGS">SAVINGS</option>
        <option value="CURRENT">CURRENT</option>

      </select>
    </div>

  </div>


</form>

<button (click)='save()' class="btn btn-primary btn-block">Save</button>
