


<form class="createAccount" id='createAccount'>
  <h5>Create Account</h5>
  <br>
  <div class="row fieldRow">
    <div class="col-sm-6">
      <label for="fname">First Name<span>*</span></label>
      <input [(ngModel)]='emp.firstName' maxlength=100 type="text" class="form-control" id='name' placeholder="First Name"
        name="name" required>
    </div>

    <div class="col-sm-6">
      <label for="lname">Last Name<span>*</span></label>
      <input [(ngModel)]='emp.lastName' class="form-control" id='lname' placeholder="Last Name" name="lname">

    </div>
  </div>
  <div class="row fieldRow">
    <div class="col-sm-6">
      <label for="address">Address<span>*</span></label>
      <input [(ngModel)]='emp.address.houseNumber' maxlength=100 type="text" class="form-control" id='name' placeholder="Address"
        name="name" required>
    </div>

    <div class="col-sm-6">
      <label for="lname">City</label>
      <input [(ngModel)]='emp.address.city' class="form-control"  placeholder="City" name="City">

    </div>
  </div>
  <div class="row fieldRow">
    <div class="col-sm-6">
      <label for="address">State</label>
      <input [(ngModel)]='emp.address.state' maxlength=100 type="text" class="form-control" placeholder="State"
        name="name" required>
    </div>

    <div class="col-sm-6">
      <label for="lname">Pin Code <span>*</span> </label>
      <input [(ngModel)]='emp.address.pinCode' class="form-control"  placeholder="Pincode" name="lname">

    </div>
  </div>
  <div class="row fieldRow">
  <div class="col-sm-6">
    <label for="severity">Status</label>
    <select [(ngModel)]='emp.status' class="form-control" id='severity' name="severity">
      <option value="ACTIVE">ACTIVE</option>
      <option value="INACTIVE">INACTIIVE</option>
      <option value="CLOSED">CLOSED</option>
    </select>
  </div>


  <div class="col-sm-6">
    <label for="priority">Type</label>
    <select [(ngModel)]='emp.type' name="priority" class="form-control" id='priority'>
      <option value="SAVINGS">SAVINGS</option>
      <option value="CURRENT">CURRENT</option>

    </select>
  </div>

  </div>

  <div class="row fieldRow">
    <div class="col-sm-6">
      <label for="address">Balance</label>
      <input [(ngModel)]='emp.balance' maxlength=100 type="text" class="form-control"  placeholder="Balance"
        name="name" required>
    </div>
    <div class="col-sm-6">
      <label for="lname">Account Number <span>*</span> </label>
      <input [(ngModel)]='emp.accountNumber' class="form-control" id='lname' placeholder="Account Number" name="Account Number">

    </div>
  </div>


</form>

<button (click)='save()' class="btn btn-primary btn-block">Save</button>
