
#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rex;

    /* Footer height */
}

#footer {

  position: absolute;
  bottom:0;
  width: 100%;
  height: 2.5rem;
       /* Footer height */
}

.bg-blue {
  color: #fff;
  background-color: #1A237E
}
