
<nav class="navbar navbar-expand-md bg-light navbar-light ">
<!-- <div> -->
  <!-- <button class="navbar-toggler" type="button" data-toggle="collapse"
    data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button> -->
  <!-- <div class="collapse navbar-collapse" id="collapsibleNavbar"> -->
    <!-- <ul class="navbar-nav">
      <a class="nav-link" href="#" routerLink="/" routerLinkActive="router-link-active" >Create Account</a>

    </ul>
  </div>
  <br>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
    <a class="nav-link" href="#" routerLink="/update" routerLinkActive="router-link-active">Update Account
      </a>
    </ul>
  </div>
  <br>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
  <a  class="nav-link" href="#" routerLink="/search" routerLinkActive="router-link-active">Search Account
          </a>

    </ul>
  </div>
</div> -->
  <img [src] ="ImagePath"

        style="width: 1200px;height: 400px; ">
</nav>
